<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [3]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.12.0

Download and install [MongoDB Compass](https://www.mongodb.com/try/download/compass) to run MongoDB locally.

Start the mongod server (if it isn't already running) by executing `mongod` at the command prompt after changing the directory to `cd C:\Program Files\MongoDB\Server\6.0\bin`

In [48]:
# Connect to MongoDB Compass (local installation)
client = MongoClient('localhost', 27017)

In [38]:
## Cloud access fails to connect

# Connect to MongoDB (Cluster0) in the cloud
# client = pymongo.MongoClient("mongodb+srv://stolltho:password@cluster0.3zbzbg4.mongodb.net/?retryWrites=true&w=majority")
# db = client.test

What would this do?

In [ ]:
# db = client.test
# collection = db.people
# collection.drop()

ANSWER: Drops collection "people" from database "test".

What would this do?

In [50]:
client.test.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

ANSWER: Drops database "test".

In [51]:
# Drop database "mydatabase" before creating it below: 
client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

**Create a new database:**

In [39]:
# Create db
net = client['netflix']

In [40]:
net

Database(MongoClient(host=['ac-exnu0g5-shard-00-02.3zbzbg4.mongodb.net:27017', 'ac-exnu0g5-shard-00-01.3zbzbg4.mongodb.net:27017', 'ac-exnu0g5-shard-00-00.3zbzbg4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1u5c65-shard-0', ssl=True), 'netflix')

In [41]:
# Create collection
hor = net['horror']

In [ ]:
hor.insert_one({'name':'Wednesday'})

In [52]:
# Create db
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [53]:
print(client.list_database_names())

['admin', 'config', 'local', 'netflix']

- check for the database by name:

In [54]:
#ANSWER:
dblist = client.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [55]:
#ANSWER:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [56]:
#ANSWER:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [57]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'netflix']

List all collections in the database:

In [58]:
#ANSWER:
print(mydb.list_collection_names())

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [59]:
#ANSWER:
mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

63d8eec812c7a7135bbc1c01

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [60]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [61]:
#ANSWER:
x = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [62]:
#ANSWER:
print(x.inserted_ids)

[ObjectId('63d8eeda12c7a7135bbc1c02'), ObjectId('63d8eeda12c7a7135bbc1c03'), ObjectId('63d8eeda12c7a7135bbc1c04'), ObjectId('63d8eeda12c7a7135bbc1c05'), ObjectId('63d8eeda12c7a7135bbc1c06'), ObjectId('63d8eeda12c7a7135bbc1c07'), ObjectId('63d8eeda12c7a7135bbc1c08'), ObjectId('63d8eeda12c7a7135bbc1c09'), ObjectId('63d8eeda12c7a7135bbc1c0a'), ObjectId('63d8eeda12c7a7135bbc1c0b'), ObjectId('63d8eeda12c7a7135bbc1c0c'), ObjectId('63d8eeda12c7a7135bbc1c0d')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [63]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [65]:
x = mycol.insert_one({ "_id": 15, "name": "Manuel", "address": "Barcelona"})

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [66]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [67]:
#ANSWER:
x = mycol.find_one({"name": "Hannah"})
print(x)

{'_id': ObjectId('63d8eeda12c7a7135bbc1c03'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [68]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c03'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 15, 'name': 'Manuel', 'address': 'Barcelona'}

This returns only the name and address fields:

In [69]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Manuel', 'address': 'Barcelona'}

Print only the `_id` and name fields:

In [70]:
#ANSWER:
for x in mycol.find({},{ "_id": 1, "name": 1 }):
    print(x)

{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c03'), 'name': 'Hannah'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c06'), 'name': 'Betty'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c08'), 'name': 'Susan'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0a'), 'name': 'Ben'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0b'), 'name': 'William'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0c'), 'name': 'Chuck'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}
{'_id': 15, 'name': 'Manuel'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [71]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [72]:
#ANSWER:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [73]:
#ANSWER:
mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c03'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 15, 'name': 'Manuel', 'address': 'Barcelona'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [75]:
help(mycol.find().sort)

Help on method sort in module pymongo.cursor:

sort(key_or_list, direction=None) method of pymongo.cursor.Cursor instance
    Sorts this cursor's results.

    Pass a field name and a direction, either
    :data:`~pymongo.ASCENDING` or :data:`~pymongo.DESCENDING`::

        for doc in collection.find().sort('field', pymongo.ASCENDING):
            print(doc)

    To sort by multiple fields, pass a list of (key, direction) pairs::

        for doc in collection.find().sort([
                ('field1', pymongo.ASCENDING),
                ('field2', pymongo.DESCENDING)]):
            print(doc)

    Beginning with MongoDB version 2.6, text search results can be
    sorted by relevance::

        cursor = db.test.find(
            {'$text': {'$search': 'some words'}},
            {'score': {'$meta': 'textScore'}})

        # Sort by 'score' field.
        cursor.sort([('score', {'$meta': 'textScore'})])

        for doc in cursor:
            print(doc)

    For more advanced text search functionality, see MongoDB's
    `Atlas Search <https://docs.atlas.mongodb.com/atlas-search/>`_.

    Raises :class:`~pymongo.errors.InvalidOperation` if this cursor has
    already been used. Only the last :meth:`sort` applied to this
    cursor has any effect.

    :Parameters:
      - `key_or_list`: a single key or a list of (key, direction)
        pairs specifying the keys to sort on
      - `direction` (optional): only used if `key_or_list` is a single
        key, if not given :data:`~pymongo.ASCENDING` is assumed

In [76]:
#ANSWER:
mydoc = mycol.find().sort("name", direction=pymongo.DESCENDING)
for x in mydoc:
    print(x)

{'_id': ObjectId('63d8eeda12c7a7135bbc1c0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 15, 'name': 'Manuel', 'address': 'Barcelona'}
{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [74]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [77]:
#ANSWER:
mycol.delete_many({ "_id": {"$lt": 15} })
for x in mycol.find():
    print(x)

{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 15, 'name': 'Manuel', 'address': 'Barcelona'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [78]:
#ANSWER:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
    print(x)

{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c06'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c07'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c08'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c09'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c0d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 15, 'name': 'Manuel', 'address': 'Barcelona'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [79]:
#ANSWER:
myresult = mycol.find().limit(5)
for x in myresult:
    print(x)

{'_id': ObjectId('63d8ee4a12c7a7135bbc1c00'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63d8eec812c7a7135bbc1c01'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c02'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c04'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('63d8eeda12c7a7135bbc1c05'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [106]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [114]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [122]:
# test = client['test']

In [123]:
os.chdir("DATA")

In [124]:
pwd()

'C:\\Users\\stoll\\iod_ipynb\\DATA'

In [125]:
# if this does not return 0, execute mongoimport from a command window instead:
os.system('mongoimport --db test --collection people --drop --file C:\\Users\\stoll\\iod_ipynb\\DATA\\dummyData.json')

1

############################################################################################################################################################################

In order to execute mongoimport from command prompt download [database tools](https://www.mongodb.com/try/download/database-tools) and copy content to C:\Program Files\MongoDB\Server\6.0\bin 

In command prompt, change directory (type 'cd C:\Program Files\MongoDB\Server\6.0\bin') and execute mongoimport form command line `mongoimport --db test --collection people --drop --file C:\\Users\\stoll\\iod_ipynb\\DATA\\dummyData.json'`

############################################################################################################################################################################

In [126]:
os.chdir("..")

In [127]:
pwd()

'C:\\Users\\stoll\\iod_ipynb'

In [130]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print(doc)

{'_id': ObjectId('63d8fa5f9e75c2dd540394e3'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('63d8fa5f9e75c2dd5403949a'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('63d8fa5f9e75c2dd540394c4'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [131]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [132]:
pipeline = [{"$match": {"Country":"China"}}, ]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,63d8fa5f9e75c2dd540394ac,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,63d8fa5f9e75c2dd540394dd,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,63d8fa5f9e75c2dd540394ec,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,63d8fa5f9e75c2dd540394fa,"Mayer, Violet U.",53,China,"40, 95"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [133]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version 0.13.0

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>



---



---



> > > > > > > > >  2022 Institute of Data


---



---