<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [17]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

In [2]:
# Print the list
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [7]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for index, member in enumerate(students, start=1):
    print(f'Index {index:02d} \t {member.capitalize()}')

# \t: tab
# 02d formats an integer (d) to a field of minimum width 2 (2), with zero-padding on the left (leading 0)

Index 01 	 Alice
Index 02 	 Ben
Index 03 	 Cathy
Index 04 	 Dawn
Index 05 	 Emily
Index 06 	 Fern
Index 07 	 Emma
Index 08 	 Sean
Index 09 	 Felix
Index 10 	 Hugh

In [11]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order

# Option 1:
students_rev = students.copy()
students_rev.reverse() #does not return any value, updates existing list
for index, member in enumerate(students_rev):
    print(f'Index {index+1:02d} \t {member.capitalize()}')

Index 01 	 Hugh
Index 02 	 Felix
Index 03 	 Sean
Index 04 	 Emma
Index 05 	 Fern
Index 06 	 Emily
Index 07 	 Dawn
Index 08 	 Cathy
Index 09 	 Ben
Index 10 	 Alice

In [12]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order

# Option 2:
students_rev = students[::-1] #start:stop:step
for index, member in enumerate(students_rev):
    print(f'Index {index+1:02d} \t {member.capitalize()}')

Index 01 	 Hugh
Index 02 	 Felix
Index 03 	 Sean
Index 04 	 Emma
Index 05 	 Fern
Index 06 	 Emily
Index 07 	 Dawn
Index 08 	 Cathy
Index 09 	 Ben
Index 10 	 Alice

In [13]:
# print the student list in random order
# hint look up the function random.sample
import random
students_rand = random.sample(students, len(students))

for index, member in enumerate(students_rand):
    print(f'Index {index+1:02d} \t {member.capitalize()}')

Index 01 	 Sean
Index 02 	 Emily
Index 03 	 Dawn
Index 04 	 Ben
Index 05 	 Felix
Index 06 	 Fern
Index 07 	 Cathy
Index 08 	 Alice
Index 09 	 Hugh
Index 10 	 Emma

In [18]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")

Students and their marks:
 {'alice': 87, 'ben': 45, 'cathy': 76, 'dawn': 64, 'emily': 66, 'fern': 90, 'emma': 55, 'sean': 73, 'felix': 69, 'hugh': 75}

In [19]:
sorted(studentsAndMarks, key=studentsAndMarks.get,reverse=True)

['fern',
 'alice',
 'cathy',
 'hugh',
 'sean',
 'felix',
 'emily',
 'dawn',
 'emma',
 'ben']

In [20]:
for student in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True ):
  print(f"{student:10s}:{studentsAndMarks[student]}")

fern      :90
alice     :87
cathy     :76
hugh      :75
sean      :73
felix     :69
emily     :66
dawn      :64
emma      :55
ben       :45

In [22]:
print(student , studentsAndMarks[student])

ben 45

In [23]:
# Extension: Keep only students who have a mark above 60

studentsAbove60 = dict()

for student in studentsAndMarks.keys(): 
    if studentsAndMarks[student] > 60:
        studentsAbove60[student] = studentsAndMarks[student]

for student in sorted(studentsAbove60, key=studentsAbove60.get, reverse=True):
  print(f"{student:10s}:{studentsAbove60[student]}")

fern      :90
alice     :87
cathy     :76
hugh      :75
sean      :73
felix     :69
emily     :66
dawn      :64



---



---



> > > > > > > > > Â© 2022 Institute of Data


---



---