<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [52]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

In [53]:
# Print the list
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [54]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for index, member in enumerate(students, start=1):
    print(f'Index {index}: {member.capitalize()}')

Index 1: Alice
Index 2: Ben
Index 3: Cathy
Index 4: Dawn
Index 5: Emily
Index 6: Fern
Index 7: Emma
Index 8: Sean
Index 9: Felix
Index 10: Hugh

In [55]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order

# Option 1:
students.reverse() #does not return any value, updates existing list
for index, member in enumerate(students):
    print(f'Index {index+1}: {member.capitalize()}')

Index 1: Hugh
Index 2: Felix
Index 3: Sean
Index 4: Emma
Index 5: Fern
Index 6: Emily
Index 7: Dawn
Index 8: Cathy
Index 9: Ben
Index 10: Alice

In [56]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

# Option 2:
students_rev = students[::-1] #start:stop:step
for index, member in enumerate(students_rev):
    print(f'Index {index+1}: {member.capitalize()}')

Index 1: Hugh
Index 2: Felix
Index 3: Sean
Index 4: Emma
Index 5: Fern
Index 6: Emily
Index 7: Dawn
Index 8: Cathy
Index 9: Ben
Index 10: Alice

In [57]:
# print the student list in random order
# hint look up the function random.sample
import random
students_rand = random.sample(students, 10)
print(students_rand)

['emily', 'alice', 'cathy', 'dawn', 'felix', 'sean', 'ben', 'fern', 'hugh', 'emma']

In [58]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")

Students and their marks:
 {'alice': 87, 'ben': 45, 'cathy': 76, 'dawn': 64, 'emily': 66, 'fern': 90, 'emma': 55, 'sean': 73, 'felix': 69, 'hugh': 75}

In [59]:
sorted(studentsAndMarks, key=studentsAndMarks.get,reverse=True)

['fern',
 'alice',
 'cathy',
 'hugh',
 'sean',
 'felix',
 'emily',
 'dawn',
 'emma',
 'ben']



---



---



> > > > > > > > > Â© 2022 Institute of Data


---



---